.positioned {
  text-align: left;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #60A075;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,009b50+100 */
  background: #006e2e; /* Old browsers */
  height: 100%;
}

hr {
  border: 1px solid white;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin-bottom: 0px;
  color:white;
}

.sub_header {
  color: white;
  margin-bottom: 0;
}

#header {
  padding: 20px;
}

#results {
  margin: 20px;
}